@font-face {
	font-family: 'Walkway';
	src: url('Walkway.ttf')
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_423">Text with this font applied</p> */
.fontsforweb_fontid_423 {
	font-family: 'Walkway' !important;
}

/* Font downloaded from FontsForWeb.com */