<header><h2 id="title"></h2><h5 id="location"></h5></header>
<section>
    <p id="line1"></p>
</section>
<section>
    <video id="video1" autoplay loop>
      Your browser does not support the <code>video</code> element.
    </video>
</section>
<div id="tempdiv">
    <section>
        <label>Current temperature: <span class="label label-default" id="temperature"></span> celsius degrees</label>
    </section>
</div>
<style>
  body {background-color:pink}
  h1   {color:green}
  h2 {display: inline-block; color: darkblue}
  h5 {display: inline; margin-left: 3px;}
  p    {color:black}
  label { margin-top: 20px}
</style>