<div>
    <span class="col-md-2" style="padding-left:0; height:70vh">
        <management-menu selected="selectedTab"></management-menu>
    </span>
    <span class="col-md-10" style="padding-left:0">
        <div ng-if="isTabSelected('New Ad')">New</div>
        <div ng-controller="manageAdsCtrl" ng-init="loadAds()" ng-if="isTabSelected('Manage Ads')">
            <span class="col-md-10">
                <header class="page-header" style="padding-right:15px; margin-bottom:5px;margin-top:10px">
                    <form class="form-inline">
                        <!--<button type="button" class="btn btn-primary btn-md" ng-click="add()">
                            מודעה חדשה
                        </button>-->
                        <filter-ads></filter-ads>
                    </form>
                </header>
                <section class="container-fluid">
                    <div class="row">
                        <div class="col-md-3" ng-repeat="ad in ads">
                            <div class="panel panel-primary">
                                <div class="panel-heading">{{ ad.title }}
                                    <div class="navbar-left">
                                        <button type="button" class="btn btn-default btn-xs" ng-click="edit(ad)">
                                            <span class="glyphicon glyphicon-pencil"></span>
                                        </button>
                                        <button type="button" class="btn btn-default btn-xs" ng-click="deleteAd(ad)">
                                            <span class="glyphicon glyphicon-remove"></span>
                                        </button>
                                    </div>
                                </div>
                                <div class="panel-body">
                                    <div>משך: {{ ad.duration }} שניות</div>
                                    <div>
                                        מסכים:
                                        <span ng-repeat="screen in ad.screenIds">
                                            {{screen}}{{$last ? '' : ', '}}
                                        </span>
                                    </div>
                                </div>
                                <ul class="list-group">
                                    <li class="list-group-item" ng-repeat="timeFrame in ad.timeFrames">
                                        <div>{{timeFrame.startDate}} - {{timeFrame.endDate}}</div>
                                        <div>ימים:
                                            <span ng-repeat="day in timeFrame.days">
                                                {{day}}{{$last ? '' : ', '}}
                                            </span>
                                        </div>
                                        <div>{{timeFrame.from}} עד {{timeFrame.to}}</div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
            </span>
        </div>
    </span>
</div>