<div class="panel panel-primary col-md-12 ad" ng-if="ad" ng-click="clickAd()" title="Click to view advertisement details.">
    <div class="panel-heading adv-header">{{ ::ad.title }}
        <div class="navbar-right" style="padding-right:10px">
            <button type="button" class="btn btn-default btn-xs" ng-click="edit(ad)">
                <span class="glyphicon glyphicon-new-window"></span>
            </button>
            <button type="button" class="btn btn-default btn-xs" ng-click="deleteAd(ad)">
                <span class="glyphicon glyphicon-trash"></span>
            </button>
        </div>
    </div>
    <div class="panel-body" ng-if="isSelected">
        <span class="col-md-4">
            <div class="row">
                <span class="col-md-4 field-description">Duration: </span>
                <span class="col-md-8">{{::ad.duration}} Seconds</span>
            </div>
            <div class="row">
                <span class="col-md-4 field-description">Screen IDs: </span>
                <span class="col-md-8">{{::printScreenIds()}}</span>
            </div>
        </span>
        <span class="col-md-4" style="border-width:0px 1px 0px 1px; border-style:solid;">
                <div class="field-description">Dates:</div>
                <div ng-repeat="timeFrame in ad.timeFrames" ng-class="{notLast: !$last}" style="padding-left:10px">
                    <div>{{::timeFrame.startDate}} - {{::timeFrame.endDate}}</div>
                    <div>Days: {{::printDays()}}</div>
                    <div>{{::timeFrame.from}} to {{::timeFrame.to}}</div>
                </div>
        </span>
        <span class="col-md-4">
            <div class="field-description">Text:</div>
                <div ng-repeat="text in ad.textLines" style="padding-left:10px">
                    <div>{{::$index + 1}}. {{::text}}</div>
                </div>
        </span>
    </div>
</div>
